* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  color: #fff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.card {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3% auto auto auto;
  overflow: auto;
}

.card__header {
  font-size: 0;
}

.card__image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card__main {
  margin: 0;
  padding: 5%;
  background-color: #283e50;
}

.card__title,
.game__title {
  margin: 0;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.card__nav {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.card__link {
  display: block;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 15px;
}

.card__link--rules,
.game__link--home {
  background-color: #1fcca4;
}

.card__link--rules {
  border-bottom: 2px solid #283e50;
}

.card__link--rules:hover,
.card__link--rules:focus,
.game__link--home:hover,
.game__link--focus {
  background-color: #1cbb96;
}

.card__link--action,
.game__link--restart {
  background-color: #0197f6;
}

.card__link--action:hover,
.card__link--action:focus,
.game__link--restart:hover,
.game__link--restart:focus {
  background-color: #0090e9;
}

/* Styly pro hra.html */
.game {
  max-width: 80vmin;
  margin: 1rem auto 2rem auto;
}

.game__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}

.game__nav--left,
.game__nav--right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
}

.game__link {
  display: flex;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.game__symbol {
  height: 1rem;
}

.game__board {
  display: flex;
  flex-wrap: wrap;
  border: 1.5px solid #283e50;
}

.game__square {
  width: 10%;
  aspect-ratio: 1 / 1;
  opacity: 0.5;
  border: 1.5px solid #283e50;
}

.game__square:hover,
.game__square:focus {
  opacity: 0.45;
  cursor: pointer;
}
